{{#unless tutorial}}
  <div class="main_content">
    <div class="heading">
      <h2>Sorry, there is no such tutorial</h2>
    </div>
  </div>
{{else}}
<div class="content">
  <div class="sheet">
    <h3> {{tutorial.title}} </h3>
      Posted By: {{tutorial.owner.username}}
    <div class="show_sheet_container">
      <p class="tutorial_comment"> {{tutorial.comment}} </p>
      {{#if tutorial.demoLink}}
      <p class="label_show live_demo"> Live Demo </p>
      <div class="codepen_cover"></div>
      <div class="codepen">{{{tutorial.demoLink}}}</div>
      {{/if}}
      <p class="label_show"> HTML </p>
      <pre class="html codebox"> {{tutorial.htmlCode}}</pre>
      <p class="label_show"> CSS </p>
      <pre class="css codebox"> {{tutorial.cssCode}}</pre>
      {{#if tutorial.jsCode}}
      <p class="label_show"> JavaScript </p>
      <pre class="js codebox"> {{tutorial.jsCode}}</pre>
      {{/if}}

      <!-- delete and edit button -->

      {{#if currentUserIsOwner}}

      <a href="/edit-form/{{tutorial.title}}"><button> Edit Tutorial </button></a>
      <form method="post" action="/{{tutorial.title}}/delete">
        <button type="submit" class="delete_button"> Delete Tutorial </button>
      {{/if}}
      </form>
  </div>
</div>
{{/unless}}
