{{#unless tutorial}}
  <div class="main_content">
    <div class="heading">
      <h2>Sorry, there is no such tutorial</h2>
    </div>
  </div>
{{else}}
<div class="content">
  <div class="sheet">
    <h3> {{tutorial.title}} </h3>
    <div class="show_sheet_container">
      <p class="tutorial_comment"> {{tutorial.comment}} </p>
      <!-- <div>{{{tutorial.demoLink}}} </div> -->
      <p class="label_show"> HTML </p>
      <pre class="html"> {{tutorial.htmlCode}}</pre>
      <p class="label_show"> CSS </p>
      <pre class="css"> {{tutorial.cssCode}}</pre>
      <p class="label_show"> JavaScript </p>
      <pre> {{tutorial.jsCode}}</pre>
    </div>
  </div>
</div>
{{/unless}}
